/target
Cargo.lock
models/
test.*
repos
record.*
user_input.*
assistant_response.*
.idea
records
# Rust / Cargo
target/
**/*.rs.bk

# IDEs
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Not deployable
src/assistant/streaming.rs
